events {}

http {
    include /etc/nginx/mime.types;

    server {
        listen 80;
        server_name dev.alignwell.com demo.alignwell.com;
        root /usr/share/nginx/html;
        index index.html;
        ssl on;
       # ssl_certificate /path/to/ssl_certificate.crt;
        #ssl_certificate_key /path/to/ssl_private_key.key;

        gzip on;
        gzip_types application/javascript text/css;

          location /.well-known/apple-app-site-association {
            alias /app/.well-known;
            index apple-app-site-association.json
            default_type application/json;
            autoindex on;
        }


        location /.well-known/assetlinks.json {
            alias /app/.well-known;
            index assetlinks.json
            default_type application/json;
            autoindex on;
        }


        location / {
            gzip_static on;
            try_files $uri $uri/ /index.html;
        }
    }
}
