events {}
http {

    include /etc/nginx/mime.types;
    default_type  application/octet-stream;

    server {
        listen 80;
        #listen 443 ssl;
        server_name dev.alignwell.com demo.alignwell.com;
        root /usr/share/nginx/html;
        index index.html;
        #ssl on;
       # ssl_certificate /path/to/ssl_certificate.crt;
        #ssl_certificate_key /path/to/ssl_private_key.key;

        gzip on;
        gzip_types application/javascript text/css application/json;

          location /.well-known/apple-app-site-association {
              alias /app/.well-known;
              index apple-app-site-association.json
              default_type application/json;
              #rewrite ^/.well-known/apple-app-site-association$ /.well-known/apple-app-site-association break;
              try_files $uri $uri/ /index.html;
              autoindex on;
        }



        location /.well-known {
            alias /app/.well-known;
            index assetlinks.json
            default_type application/json;
            autoindex on;
        }


        location / {
            gzip_static on;
            try_files $uri $uri/ /index.html;
        }
    }
}

